#logo {
    transition: all 0.3s;
}

#logo:hover {
    filter: drop-shadow(2px 4px 6px black);
}

.required::after {
    content: " *";
    color: red;
}

.dropdown-toggle::after {
    display: none !important;
}

.reportPanelWrapper {
    overflow: hidden;
}

.reportPanel {
    transition: all 1s ease-in-out;
    margin-top: -100%;
}

.reportPanel.panelActive {
    margin-top: 0;
}

.accordion-button {
    color: #ffffff;
    background-color: #14561d;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #26a036;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.bg-hover-3a4e1e,
.bg-hover-dark,
.text-unauthorized {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.bg-hover-3a4e1e:hover {
    background-color: #3a4e1e;
}

.bg-hover-dark:hover {
    filter: brightness(85%);
    /* transform: scale(102%, 102%); */
}

.text-unauthorized:hover span {
    display: none;
}

.text-unauthorized:hover:after {
    content: "Unauthorized";
}

.bg-164d9d {
    background-color: #164d9d;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 2px;
}

.scrollbar-custom:hover::-webkit-scrollbar {
    width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #79a734;
}

/* ----------------vertical range slider css---------------------- */
/* .hslider {
    writing-mode: tb;
    height: 300px;
    transform: rotate(180deg);

    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
}

.hslider::-webkit-slider-runnable-track {
    height: 40px;
    border-radius: 10px;
    background-color: #e5e5e5;
}
.hslider::-moz-range-track {
    height: 40px;
    border-radius: 10px;
    background-color: #e5e5e5;
}
.hslider:disabled::-webkit-slider-runnable-track {
    background-color: #606060;
}
.hslider:disabled::-moz-range-track {
    background-color: #606060;
}

.hslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 40px;
    background-color: #fff;
    border-radius: 50px;
    border: 3px solid rgb(61, 85, 244);
    box-shadow: 0 -408px 0 400px rgb(61, 85, 244);
}
.hslider::-moz-range-thumb {
    height: 20px;
    width: 40px;
    background-color: #fff;
    border-radius: 50px;
    border: 3px solid rgb(61, 85, 244);
    box-shadow: 0 -408px 400px 0 rgb(61, 85, 244);
}
.hslider:disabled::-webkit-slider-thumb {
    background-color: #606060;
    border: 3px solid #fff;
    box-shadow: 0 -408px 0 400px #606060;
}
.hslider:disabled::-moz-range-thumb {
    background-color: #606060;
    border: 3px solid #fff;
    box-shadow: 0 -408px 400px 0 #606060;
} */
/* ----------------vertical range slider css end---------------------- */