#logo {
    transition: all 0.3s;
}

#logo:hover {
    filter: drop-shadow(2px 4px 6px black);
}

.required::after {
    content: " *";
    color: red;
}

.dropdown-toggle::after {
    display: none !important;
}

.reportPanelWrapper{
    overflow: hidden;
}
.reportPanel{
    transition: all 1s ease-in-out;
    margin-top: -100%;
}
.reportPanel.panelActive{
    margin-top: 0;
}